@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

* {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

input,
button,
select,
a {
  box-shadow: none !important;
}

.modal-backdrop.show {
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.min-width-min-content {
  min-width: min-content;
}

.vh-60 {
  height: 60vh !important;
}

.vw-30 {
  width: 30vw !important;
}

.bg-codemirror {
  background-color: #282c34;
}
